@import url("https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Noticia Text";
  color: white; }

body {
  background: #051122;
  display: grid;
  grid-template-areas: "header" "nav" "main" "footer"; }

header {
  background: #051122;
  grid-area: header;
  display: flex;
  gap: 1cm;
  align-items: center;
  justify-content: center; }
  header .logotipo {
    width: 100%; }
    header .logotipo img {
      width: 100%; }

nav {
  background: #051122;
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1cm;
  margin: 0 auto;
  padding: 1rem;
  position: sticky;
  overflow: auto;
  top: 0px;
  z-index: 1; }
  nav a {
    display: inline;
    color: white;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
    transition: text-shadow ease 0.3s, scale ease 0.3s; }
    nav a:hover {
      text-shadow: 1px 0 white, -1px 0 black, 0 -1px black, 0 1px black;
      scale: 110%;
      transition: text-shadow ease 0.3s, scale ease 0.3s; }

main {
  background: transparent;
  background-image: url("http://localhost:8000/images/metropolis.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
  color: white;
  display: grid;
  grid-area: main;
  min-height: 20cm;
  width: 90%;
  margin: 0 auto; }

footer {
  align-items: center;
  background: #0a1c3a;
  color: white;
  display: grid;
  gap: 1rem;
  grid-area: footer;
  justify-content: center;
  padding: 1rem; }
  footer * {
    text-align: center; }
  footer .enlaces_interes {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    gap: 5rem; }
    footer .enlaces_interes .columna a {
      color: white;
      text-decoration: none;
      position: relative;
      top: 0;
      transition: color ease 0.2s, top ease 0.2s; }
      footer .enlaces_interes .columna a:hover {
        color: #7d72ac;
        top: -2px;
        transition: color ease 0.2s, top ease 0.2s; }
  footer .logotipo {
    width: 512px; }
    footer .logotipo img {
      width: 100%; }
  footer .redes_sociales {
    display: flex;
    justify-content: center;
    gap: 1rem; }
    footer .redes_sociales .img {
      align-items: center;
      background: white;
      border-radius: 100%;
      display: flex;
      height: 50px;
      justify-content: center;
      padding: 1rem;
      position: relative;
      top: 0;
      width: 50px;
      transition: top ease 0.3s; }
      footer .redes_sociales .img:hover {
        top: -10px;
        transition: top ease 0.3s; }
      footer .redes_sociales .img img {
        border-radius: solid 1rem;
        width: 100%; }

@media screen and (width > 0px) and (width <= 576px) {
  header .logotipo {
    width: 50%;
    margin: 0 auto;
    margin-top: 1rem; }
    header .logotipo img {
      width: 100%; }

  nav {
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 310px;
    justify-content: left; }
    nav a {
      display: inline;
      padding: 1rem; }

  footer {
    row-gap: 2rem; }

  footer .enlaces_interes {
    align-items: start;
    display: grid;
    grid-template-columns: auto;
    row-gap: 1rem; }

  footer .logotipo {
    width: 300px;
    margin: 0 auto; }

  footer .redes_sociales {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%; } }
@media screen and (width > 576px) and (width <= 992px) {
  header .logotipo {
    width: 512px; }
    header .logotipo img {
      width: 100%; }

  nav {
    max-width: "992px";
    justify-content: center; }

  footer {
    row-gap: 2rem; }

  footer .enlaces_interes {
    align-items: start; }

  footer .logotipo {
    margin: 0 auto; }

  footer .redes_sociales {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%; } }
@media screen and (width > 992px) {
  header .logotipo {
    width: 512px; }
    header .logotipo img {
      width: 100%; }

  footer {
    row-gap: 2rem; }

  footer .enlaces_interes {
    align-items: start; }

  footer .logotipo {
    margin: 0 auto; }

  footer .redes_sociales {
    border-bottom: solid 5px;
    border-radius: 100%;
    padding: 3rem; } }
.cartelera {
  margin: 3rem 0; }
  .cartelera .peliculas {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    justify-content: center;
    gap: 3rem;
    width: 100%; }
    .cartelera .peliculas .pelicula {
      color: white; }
      .cartelera .peliculas .pelicula .img {
        overflow: hidden;
        margin: 0 auto; }
        .cartelera .peliculas .pelicula .img img {
          width: 100%;
          scale: 100%;
          overflow: hidden;
          transition: scale ease 1s; }
          .cartelera .peliculas .pelicula .img img:hover {
            scale: 110%;
            transition: scale ease 1s; }
  .cartelera .titulo {
    text-align: center;
    margin-bottom: 3rem;
    color: white; }

@media screen and (width > 0px) and (width <= 992px) {
  .cartelera .peliculas {
    grid-template-columns: auto;
    gap: 5rem; }
    .cartelera .peliculas .pelicula {
      margin: 0 auto;
      width: 70%;
      text-align: center; } }
@media screen and (width > 992px) and (width <= 1200px) {
  .cartelera .peliculas {
    grid-template-columns: auto auto;
    gap: 2rem; }
    .cartelera .peliculas .pelicula .img {
      width: 90%; }
      .cartelera .peliculas .pelicula .img img {
        width: 400px;
        height: 600px; }
    .cartelera .peliculas .pelicula h1, .cartelera .peliculas .pelicula h2, .cartelera .peliculas .pelicula h3, .cartelera .peliculas .pelicula h4, .cartelera .peliculas .pelicula h5, .cartelera .peliculas .pelicula h6 {
      text-align: center;
      width: 100%; } }
@media screen and (width > 1200px) {
  .cartelera .titulo {
    font-size: 3rem; }
  .cartelera .peliculas {
    grid-template-columns: auto auto auto auto;
    gap: 2rem; }
    .cartelera .peliculas .pelicula .img {
      width: 90%; }
      .cartelera .peliculas .pelicula .img img {
        width: 250px;
        height: 375px; }
    .cartelera .peliculas .pelicula h1, .cartelera .peliculas .pelicula h2, .cartelera .peliculas .pelicula h3, .cartelera .peliculas .pelicula h4, .cartelera .peliculas .pelicula h5, .cartelera .peliculas .pelicula h6 {
      text-align: center;
      width: 100%;
      max-width: 250px; } }
.precios {
  margin-bottom: 1rem;
  width: 80%;
  margin: 0 auto; }
  .precios .titulo {
    color: white; }
  .precios .tarjetas {
    display: grid; }
    .precios .tarjetas .tarjeta {
      background: #0a1c3a;
      color: white;
      position: relative;
      text-align: center;
      top: 0;
      transition: top ease 0.3s; }
      .precios .tarjetas .tarjeta .dias {
        color: white;
        font-size: 20px;
        border-top: solid #ffdd0e;
        padding-bottom: 1rem;
        padding-top: 0.5rem; }
      .precios .tarjetas .tarjeta .precio {
        border: solid;
        border-color: #ffdd0e;
        color: white; }
      .precios .tarjetas .tarjeta:hover {
        top: -10px;
        transition: top ease 0.3s; }

@media screen and (width >= 0px) {
  .precios .titulo {
    text-align: center;
    margin: 1rem 0 2rem 0;
    font-size: 3rem; }
  .precios .tarjetas {
    grid-template-columns: auto;
    column-gap: 1rem;
    row-gap: 2rem;
    justify-content: center; }
    .precios .tarjetas * {
      margin-bottom: 0.33rem; }
    .precios .tarjetas .tarjeta {
      height: fit-content;
      padding: 1rem;
      width: 90%; }
      .precios .tarjetas .tarjeta .precio {
        font-size: 4rem; }
      .precios .tarjetas .tarjeta .img {
        width: 250px;
        height: 200px;
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 1rem; }
        .precios .tarjetas .tarjeta .img img {
          width: 100%;
          height: 100%; } }
@media screen and (width >= 768px) {
  .precios .titulo {
    text-align: center;
    margin: 1rem 0 2rem 0;
    font-size: 3rem; }
  .precios .tarjetas {
    grid-template-columns: auto auto;
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: center; }
    .precios .tarjetas * {
      margin-bottom: 0.33rem; }
    .precios .tarjetas .tarjeta {
      height: 430px;
      padding: 1rem;
      width: 330px; }
      .precios .tarjetas .tarjeta .precio {
        font-size: 4rem; }
      .precios .tarjetas .tarjeta .img {
        margin-bottom: 0;
        width: 300px;
        height: 200px;
        overflow: hidden;
        margin-bottom: 1rem; }
        .precios .tarjetas .tarjeta .img img {
          width: 100%;
          height: 100%; } }
@media screen and (width >= 992px) {
  .precios .titulo {
    text-align: center;
    margin: 1rem 0 2rem 0;
    font-size: 3rem; }
  .precios .tarjetas {
    grid-template-columns: auto auto auto;
    column-gap: 1rem;
    justify-content: center; }
    .precios .tarjetas * {
      margin-bottom: 0.33rem; }
    .precios .tarjetas .tarjeta {
      height: 313, 75px;
      padding: 1rem;
      width: 250px; }
      .precios .tarjetas .tarjeta .precio {
        font-size: 4rem; }
      .precios .tarjetas .tarjeta .img {
        margin-bottom: 0;
        width: 100%;
        height: 150px;
        overflow: hidden;
        margin-bottom: 1rem; }
        .precios .tarjetas .tarjeta .img img {
          width: 100%;
          height: 100%; } }
@media screen and (width >= 1200px) {
  .precios .titulo {
    text-align: center;
    margin: 1rem 0 2rem 0;
    font-size: 3rem; }
  .precios .tarjetas {
    grid-template-columns: auto auto auto;
    column-gap: 2rem;
    justify-content: center; }
    .precios .tarjetas * {
      margin-bottom: 0.33rem; }
    .precios .tarjetas .tarjeta {
      height: fit-content;
      padding: 1rem;
      width: 320px; }
      .precios .tarjetas .tarjeta .precio {
        font-size: 4rem; }
      .precios .tarjetas .tarjeta .img {
        margin-bottom: 0;
        width: 100%;
        height: 250px;
        overflow: hidden;
        margin-bottom: 1rem; }
        .precios .tarjetas .tarjeta .img img {
          width: 100%;
          height: 100%; } }
.login {
  display: block; }
  .login .titulo {
    color: #ffdd0e;
    display: grid;
    text-align: center;
    margin: 0;
    padding: 0; }
  .login .formulario_login {
    display: block;
    background: #0a1c3a;
    width: 90%;
    margin: 0 auto; }
    .login .formulario_login h4 {
      margin-bottom: 1rem;
      text-align: center;
      color: white; }
      .login .formulario_login h4 a {
        border: solid transparent;
        text-decoration: none;
        color: #0068c8;
        transition: border ease 0.2s; }
        .login .formulario_login h4 a:hover {
          border-bottom: solid;
          transition: border ease 0.2s; }
    .login .formulario_login form {
      display: grid;
      margin: 0 auto;
      text-align: left;
      row-gap: 1rem;
      margin-bottom: 1rem; }
      .login .formulario_login form label {
        color: white; }
      .login .formulario_login form input[type=text], .login .formulario_login form input[type=password] {
        border: solid transparent 1px;
        border-bottom: solid #2d3141 1px;
        background: transparent;
        color: white;
        transition: border-color ease 0.5s;
        padding: 0.5rem; }
        .login .formulario_login form input[type=text]:hover, .login .formulario_login form input[type=password]:hover {
          border-bottom: solid white 1px;
          ransition: border-color ease 0.5s; }
        .login .formulario_login form input[type=text]:focus, .login .formulario_login form input[type=password]:focus {
          outline: none;
          color: white; }
        .login .formulario_login form input[type=text] *, .login .formulario_login form input[type=password] * {
          margin-bottom: 1rem; }
      .login .formulario_login form .submit {
        border: solid transparent;
        background: #0068c8;
        color: white;
        padding: 1rem;
        transition: scale ease 0.5s; }
        .login .formulario_login form .submit:hover {
          scale: 102%;
          transition: scale ease 0.5s; }

@media screen and (width > 0px) {
  .login {
    margin: 6rem 0; }
    .login .titulo {
      margin-top: 3rem;
      margin-bottom: 2rem; }
    .login .formulario_login {
      width: 80%;
      padding: 1rem;
      height: 600px; } }
@media screen and (width > 992px) {
  .login {
    margin: 6rem 0; }
    .login .titulo {
      margin-top: 3rem;
      margin-bottom: 2rem; }
    .login .formulario_login {
      width: 40%;
      padding: 3rem;
      height: 600px; } }
.register {
  display: block; }
  .register .titulo {
    color: #ffdd0e;
    display: grid;
    text-align: center;
    margin: 0;
    padding: 0; }
  .register .formulario_register {
    display: block;
    background: #0a1c3a;
    width: 90%;
    margin: 0 auto; }
    .register .formulario_register h4 {
      margin-bottom: 1rem;
      text-align: center;
      color: white; }
      .register .formulario_register h4 a {
        border: solid transparent;
        text-decoration: none;
        color: #0068c8;
        transition: border ease 0.2s; }
        .register .formulario_register h4 a:hover {
          border-bottom: solid;
          transition: border ease 0.2s; }
    .register .formulario_register form {
      display: grid;
      margin: 0 auto;
      text-align: left;
      row-gap: 1rem;
      margin-bottom: 1rem; }
      .register .formulario_register form label {
        color: white; }
      .register .formulario_register form input[type=text], .register .formulario_register form input[type=password], .register .formulario_register form input[type=date] {
        border: solid transparent 1px;
        border-bottom: solid #2d3141 1px;
        background: transparent;
        color: white;
        color-scheme: dark;
        transition: border-color ease 0.5s;
        padding: 0.5rem; }
        .register .formulario_register form input[type=text]:hover, .register .formulario_register form input[type=password]:hover, .register .formulario_register form input[type=date]:hover {
          border-bottom: solid white 1px;
          transition: border-color ease 0.5s; }
        .register .formulario_register form input[type=text]:focus, .register .formulario_register form input[type=password]:focus, .register .formulario_register form input[type=date]:focus {
          outline: none;
          color: white; }
        .register .formulario_register form input[type=text] *, .register .formulario_register form input[type=password] *, .register .formulario_register form input[type=date] * {
          margin-bottom: 1rem; }
      .register .formulario_register form .submit {
        border: solid transparent;
        background: #0068c8;
        color: white;
        padding: 1rem;
        transition: scale ease 0.5s; }
        .register .formulario_register form .submit:hover {
          scale: 102%;
          transition: scale ease 0.5s; }

@media screen and (width > 0px) {
  .register {
    margin: 6rem 0; }
    .register .titulo {
      margin-top: 3rem;
      margin-bottom: 2rem; }
    .register .formulario_register {
      width: 80%;
      padding: 1rem;
      height: fit-content; } }
@media screen and (width > 992px) {
  .register {
    margin: 6rem 0; }
    .register .titulo {
      margin-top: 3rem;
      margin-bottom: 2rem; }
    .register .formulario_register {
      width: 40%;
      padding: 3rem;
      height: fit-content; } }
.contacto {
  display: block; }
  .contacto .titulo {
    color: #ffdd0e;
    display: grid;
    text-align: center;
    margin: 0;
    padding: 0; }
  .contacto .formulario_contacto {
    display: block;
    background: #0a1c3a;
    width: 90%;
    margin: 0 auto; }
    .contacto .formulario_contacto h4 {
      margin-bottom: 1rem;
      text-align: center;
      color: white; }
      .contacto .formulario_contacto h4 a {
        border: solid transparent;
        text-decoration: none;
        color: #0068c8;
        transition: border ease 0.2s; }
        .contacto .formulario_contacto h4 a:hover {
          border-bottom: solid;
          transition: border ease 0.2s; }
    .contacto .formulario_contacto form {
      display: grid;
      margin: 0 auto;
      text-align: left;
      row-gap: 1rem;
      margin-bottom: 1rem; }
      .contacto .formulario_contacto form label {
        color: white; }
      .contacto .formulario_contacto form input[type=text], .contacto .formulario_contacto form input[type=password], .contacto .formulario_contacto form input[type=date], .contacto .formulario_contacto form textarea {
        border: solid transparent 1px;
        border-bottom: solid #2d3141 1px;
        background: transparent;
        color: white;
        color-scheme: dark;
        resize: none;
        transition: border-color ease 0.5s;
        padding: 0.5rem; }
        .contacto .formulario_contacto form input[type=text]:hover, .contacto .formulario_contacto form input[type=password]:hover, .contacto .formulario_contacto form input[type=date]:hover, .contacto .formulario_contacto form textarea:hover {
          border-bottom: solid white 1px;
          transition: border-color ease 0.5s; }
        .contacto .formulario_contacto form input[type=text]:focus, .contacto .formulario_contacto form input[type=password]:focus, .contacto .formulario_contacto form input[type=date]:focus, .contacto .formulario_contacto form textarea:focus {
          outline: none;
          color: white; }
        .contacto .formulario_contacto form input[type=text] *, .contacto .formulario_contacto form input[type=password] *, .contacto .formulario_contacto form input[type=date] *, .contacto .formulario_contacto form textarea * {
          margin-bottom: 1rem; }
      .contacto .formulario_contacto form .submit {
        border: solid transparent;
        background: #0068c8;
        color: white;
        padding: 1rem;
        transition: scale ease 0.5s; }
        .contacto .formulario_contacto form .submit:hover {
          scale: 102%;
          transition: scale ease 0.5s; }

@media screen and (width > 0px) {
  .contacto {
    margin: 6rem 0; }
    .contacto .titulo {
      margin-top: 3rem;
      margin-bottom: 2rem; }
    .contacto .formulario_contacto {
      width: 80%;
      padding: 1rem;
      height: 1160px; }
      .contacto .formulario_contacto .mapa {
        margin-top: 3rem;
        width: 100%; } }
@media screen and (width > 992px) {
  .contacto {
    margin: 6rem 0; }
    .contacto .titulo {
      margin-top: 3rem;
      margin-bottom: 2rem; }
    .contacto .formulario_contacto {
      width: 70%;
      padding: 3rem;
      height: 1160px; }
      .contacto .formulario_contacto .mapa {
        margin-top: 3rem;
        width: 100%; } }
.cookies {
  width: 60%;
  margin: 6rem auto; }
  .cookies .apartado {
    margin-bottom: 5rem; }
    .cookies .apartado .titulo {
      font-size: 5rem;
      text-align: center;
      margin-bottom: 1rem; }
    .cookies .apartado h5 {
      font-size: 3rem;
      text-align: center;
      margin-bottom: 1rem; }
    .cookies .apartado p {
      font-size: 1.5rem;
      margin-bottom: 2rem; }

@media screen and (width > 0px) and (width < 992px) {
  .cookies .apartado {
    margin-bottom: 5rem; }
    .cookies .apartado .titulo {
      font-size: 3rem; }
    .cookies .apartado h5 {
      font-size: 2.5rem; }
    .cookies .apartado p {
      text-align: center; } }
.privacidad {
  width: 60%;
  margin: 6rem auto; }
  .privacidad .apartado {
    margin-bottom: 5rem; }
    .privacidad .apartado .titulo {
      font-size: 5rem;
      text-align: center;
      margin-bottom: 1rem; }
    .privacidad .apartado h5 {
      font-size: 3rem;
      text-align: center;
      margin-bottom: 1rem; }
    .privacidad .apartado p {
      font-size: 1.5rem;
      margin-bottom: 2rem; }
    .privacidad .apartado ul {
      margin: 0 auto;
      width: fit-content; }
      .privacidad .apartado ul li {
        text-align: justify;
        font-size: 1.5rem; }

@media screen and (width > 0px) and (width < 992px) {
  .privacidad .apartado .titulo {
    font-size: 3rem; }
  .privacidad .apartado h5 {
    font-size: 2.5rem; }
  .privacidad .apartado p {
    text-align: center; } }
.detallesPelicula {
  display: grid;
  row-gap: 2rem;
  width: 80%;
  margin: 4rem auto; }
  .detallesPelicula .trailer {
    height: 300px;
    overflow: hidden; }
    .detallesPelicula .trailer iframe {
      width: 100%;
      height: 100%; }
  .detallesPelicula .informacionPelicula {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5rem; }
    .detallesPelicula .informacionPelicula .portada {
      width: 300px; }
      .detallesPelicula .informacionPelicula .portada img {
        width: 100%; }
  .detallesPelicula .sesionesPelicula {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 2rem; }
    .detallesPelicula .sesionesPelicula .sesion {
      border: solid white 1px;
      border-bottom-right-radius: 1.5rem;
      padding: 2rem;
      width: 200px;
      position: relative;
      top: 0;
      transition: top ease 0.5s; }
      .detallesPelicula .sesionesPelicula .sesion:hover {
        top: -10px;
        transition: top ease 0.5s; }

@media screen and (width > 0px) and (width < 992px) {
  .detallesPelicula {
    display: grid;
    row-gap: 2rem;
    width: 90%;
    margin: 2rem auto; }
    .detallesPelicula .trailer {
      height: 300px;
      overflow: hidden; }
      .detallesPelicula .trailer iframe {
        width: 100%;
        height: 100%; }
    .detallesPelicula .informacionPelicula {
      grid-template-columns: auto;
      row-gap: 2rem; }
      .detallesPelicula .informacionPelicula .portada {
        width: 70%;
        margin: 0 auto; }
    .detallesPelicula .sesionesPelicula {
      grid-template-columns: auto; } }
.reserva {
  width: 75%;
  margin: 5rem auto; }
  .reserva .pantalla {
    align-items: center;
    display: grid;
    width: 100%;
    height: 2cm;
    background: #0a1c3a;
    justify-content: center;
    font-size: 2rem; }
  .reserva .sillones {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: auto;
    gap: 1rem;
    justify-content: center;
    margin: 2rem auto; }
    .reserva .sillones .sillon {
      width: 50px;
      height: 50px;
      background: #20c249aa; }
  .reserva .leyenda {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin: 0 auto;
    justify-content: center;
    gap: 2rem; }
    .reserva .leyenda .codigo {
      display: grid;
      justify-content: center;
      text-align: center;
      align-items: center;
      row-gap: 1rem;
      width: fit-content; }
      .reserva .leyenda .codigo .colorcito {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin: 0 auto; }

@media screen and (width > 0px) and (width < 576px) {
  .reserva {
    width: 80%;
    margin: 5rem auto; }
    .reserva .sillones {
      grid-template-columns: repeat(10, 20px); }
      .reserva .sillones .sillon {
        width: 25px;
        height: 25px;
        background: #20c249aa; } }
@media screen and (width > 576px) and (width < 992px) {
  .reserva {
    width: 80%;
    margin: 5rem auto; }
    .reserva .sillones {
      grid-template-columns: repeat(10, 40px); }
      .reserva .sillones .sillon {
        width: 40px;
        height: 40px;
        background: #20c249aa; } }
.profile {
  display: block; }
  .profile .titulo {
    color: #ffdd0e;
    display: grid;
    text-align: center;
    margin: 0;
    padding: 0; }
  .profile .formulario_profile {
    display: block;
    background: #0a1c3a;
    width: 90%;
    margin: 0 auto; }
    .profile .formulario_profile h4 {
      margin-bottom: 1rem;
      text-align: center;
      color: white; }
      .profile .formulario_profile h4 a {
        border: solid transparent;
        text-decoration: none;
        color: #0068c8;
        transition: border ease 0.2s; }
        .profile .formulario_profile h4 a:hover {
          border-bottom: solid;
          transition: border ease 0.2s; }
    .profile .formulario_profile form {
      display: grid;
      margin: 0 auto;
      text-align: left;
      row-gap: 1rem;
      margin-bottom: 1rem; }
      .profile .formulario_profile form label {
        color: white; }
      .profile .formulario_profile form input[type=text], .profile .formulario_profile form input[type=password], .profile .formulario_profile form input[type=date] {
        border: solid transparent 1px;
        border-bottom: solid #2d3141 1px;
        background: transparent;
        color: white;
        color-scheme: dark;
        transition: border-color ease 0.5s;
        padding: 0.5rem; }
        .profile .formulario_profile form input[type=text]:hover, .profile .formulario_profile form input[type=password]:hover, .profile .formulario_profile form input[type=date]:hover {
          border-bottom: solid white 1px;
          transition: border-color ease 0.5s; }
        .profile .formulario_profile form input[type=text]:focus, .profile .formulario_profile form input[type=password]:focus, .profile .formulario_profile form input[type=date]:focus {
          outline: none;
          color: white; }
        .profile .formulario_profile form input[type=text] *, .profile .formulario_profile form input[type=password] *, .profile .formulario_profile form input[type=date] * {
          margin-bottom: 1rem; }
      .profile .formulario_profile form .submit {
        border: solid transparent;
        background: #0068c8;
        color: white;
        padding: 1rem;
        transition: scale ease 0.5s; }
        .profile .formulario_profile form .submit:hover {
          scale: 102%;
          transition: scale ease 0.5s; }
  .profile .entradas_compradas {
    display: grid;
    margin: 0 auto;
    gap: 1rem; }
    .profile .entradas_compradas .entrada {
      align-items: start;
      display: grid;
      justify-content: start;
      text-align: left;
      background: #0a1c3a;
      padding: 1rem; }

@media screen and (width > 0px) and (width < 992px) {
  .profile {
    margin: 6rem 0; }
    .profile .titulo {
      margin-top: 3rem;
      margin-bottom: 2rem; }
    .profile .formulario_profile {
      width: 80%;
      padding: 1rem;
      height: fit-content; }
    .profile .entradas_compradas {
      width: 80%; }
      .profile .entradas_compradas .entrada {
        align-items: start;
        display: flex;
        justify-content: left;
        gap: 2rem; }
        .profile .entradas_compradas .entrada .cartel {
          width: 20%; }
          .profile .entradas_compradas .entrada .cartel img {
            width: 100%; } }
@media screen and (width > 992px) {
  .profile {
    margin: 6rem 0; }
    .profile .titulo {
      margin-top: 3rem;
      margin-bottom: 2rem; }
    .profile .formulario_profile {
      width: 40%;
      padding: 3rem;
      height: fit-content; }
    .profile .entradas_compradas {
      grid-template-columns: 50% 50%;
      width: 80%; }
      .profile .entradas_compradas .entrada {
        grid-template-columns: auto auto;
        height: 4.5cm;
        overflow: auto;
        gap: 1rem; }
        .profile .entradas_compradas .entrada .cartel {
          width: 100px; }
          .profile .entradas_compradas .entrada .cartel img {
            width: 100%; } }
.pago {
  display: block; }
  .pago .titulo {
    color: #ffdd0e;
    display: grid;
    text-align: center;
    margin: 0;
    padding: 0; }
  .pago .formulario_pago {
    display: block;
    background: #0a1c3a;
    width: 90%;
    margin: 0 auto; }
    .pago .formulario_pago h4 {
      margin-bottom: 1rem;
      text-align: center;
      color: white; }
      .pago .formulario_pago h4 a {
        border: solid transparent;
        text-decoration: none;
        color: #0068c8;
        transition: border ease 0.2s; }
        .pago .formulario_pago h4 a:hover {
          border-bottom: solid;
          transition: border ease 0.2s; }
    .pago .formulario_pago form {
      display: grid;
      margin: 0 auto;
      text-align: left;
      row-gap: 1rem;
      margin-bottom: 1rem; }
      .pago .formulario_pago form label {
        color: white; }
      .pago .formulario_pago form input[type=text], .pago .formulario_pago form input[type=password], .pago .formulario_pago form input[type=date] {
        border: solid transparent 1px;
        border-bottom: solid #2d3141 1px;
        background: transparent;
        color: white;
        color-scheme: dark;
        transition: border-color ease 0.5s;
        padding: 0.5rem; }
        .pago .formulario_pago form input[type=text]:hover, .pago .formulario_pago form input[type=password]:hover, .pago .formulario_pago form input[type=date]:hover {
          border-bottom: solid white 1px;
          transition: border-color ease 0.5s; }
        .pago .formulario_pago form input[type=text]:focus, .pago .formulario_pago form input[type=password]:focus, .pago .formulario_pago form input[type=date]:focus {
          outline: none;
          color: white; }
        .pago .formulario_pago form input[type=text] *, .pago .formulario_pago form input[type=password] *, .pago .formulario_pago form input[type=date] * {
          margin-bottom: 1rem; }
      .pago .formulario_pago form .submit {
        border: solid transparent;
        background: #0068c8;
        color: white;
        padding: 1rem;
        transition: scale ease 0.5s; }
        .pago .formulario_pago form .submit:hover {
          scale: 102%;
          transition: scale ease 0.5s; }

@media screen and (width > 0px) {
  .pago {
    margin: 6rem 0; }
    .pago .titulo {
      margin-top: 3rem;
      margin-bottom: 2rem; }
    .pago .formulario_pago {
      width: 80%;
      padding: 1rem;
      height: 750px; } }
@media screen and (width > 992px) {
  .pago {
    margin: 6rem 0; }
    .pago .titulo {
      margin-top: 3rem;
      margin-bottom: 2rem; }
    .pago .formulario_pago {
      width: 40%;
      padding: 3rem;
      height: 750px; } }

/*# sourceMappingURL=App.css.map */
