.detallesPelicula
    display: grid
    row-gap: 2rem
    width: 80%
    margin: 4rem auto
    .trailer
        height: 300px
        overflow: hidden

    .informacionPelicula
        display: grid
        grid-template-columns: auto auto auto
        column-gap: 5rem
        .portada
            width: 300px
            img
                width: 100%

    .sesionesPelicula
        display: grid
        grid-template-columns: auto auto auto
        justify-content: center
        gap: 2rem
        .sesion
            border: solid white 1px
            border-bottom-right-radius: 1.5rem
            padding: 2rem
            width: 200px
            position: relative
            top: 0
            transition: top ease 0.5s
            &:hover
                top: -10px
                transition: top ease 0.5s


                